@font-face {
    font-family: 'Aammu';
    src: url('fonts/custom-fonts/aammu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MVTyper';
    src: url('fonts/custom-fonts/mvtyper.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Optional: Apply them globally to certain Filament elements */
.fi-header-heading {
    font-family: 'Aammu', sans-serif !important;
}